.category {
  &__title {
    font-size: toRem(24);
    line-height: $lh-x-small;
    margin-top: toRem(77);
    margin-bottom: toRem(36);

    @include tablet {
      font-size: toRem(36);
      margin-top: toRem(74);
    }

    @include desktop {
      margin-top: toRem(54);
    }
  }

  &__list {
    display: grid;
    grid-gap: toRem(24);
    grid-template-columns: repeat(3, 1fr);

    @include desktop {
      grid-template-columns: repeat(6, 1fr);
    }
  }

  &__item {
    width: 100%;
  }
}

.page-category {
  &__list {
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: toRem(64);

    @include tablet {
      grid-template-columns: repeat(3, 1fr);
      margin-bottom: toRem(72);
    }

    @include desktop {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  &__title {
    height: toRem(62);
    margin-bottom: toRem(32);
    margin-top: 0;
    border-bottom: 1px solid #e8e8e8;

    &:hover {
      border-bottom: 2px solid #e8e8e8;
    }

    @include tablet {
      height: toRem(105);
      margin-bottom: toRem(39);
    }

    @include tablet {
      margin-bottom: toRem(71);
    }
  }
}
