@mixin desktop {
  @media screen and (min-width: $desktop) { // Media query for desktop screens with min-width equal to $desktop=1200px
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: $tablet) { // Media query for tablet screens with min-width equal to $tablet=768px
    @content;
  }
}

@mixin mobile {
  @media screen and (min-width: $mobile) { // Media query for mobile screens with min-width equal to $mobile=480px
    @content;
  }
}

// Mixin for applying flexbox with column direction.
@mixin flex-column {
  display: flex;
  flex-direction: column;
}

// Mixin for applying flexbox with row direction.
@mixin flex-row {
  display: flex;
  flex-direction: row;
}

// Mixin for applying border with specified width, style, and color.
@mixin boder {
  border: toRem(1) solid #000;
}

// // Mixin for setting cursor to pointer.
@mixin cursor {
  cursor: pointer;
}
