@font-face {
	font-family: "Playfair Display";
	src: url(../assets/fonts/PlayfairDisplay-Regular.ttf) format("truetype");
	font-weight: $fw-normal;
	font-size: $fs-small;
	line-height: $lh-x-small;
	font-display: swap;
}

@font-face {
	font-family: "Inter";
	src: url(../assets/fonts/Inter-Regular.ttf) format("truetype");
	font-weight: $fw-normal;
	font-size: $fs-small;
	line-height: $lh-x-medium;
	font-display: swap;
}
