.delicious {
  &__title {
    font-size: toRem(24);
    line-height: $lh-x-small;
    margin-top: toRem(38);
    margin-bottom: toRem(34);

    @include tablet {
      font-size: $fs-x-huge;
      margin-top: toRem(61);
    }
  }

  &__list {
    @include tablet {
      @include flex-row;
    }
  }

  &__item {
    margin-top: toRem(32);

    @include tablet {
      margin-top: 0;
      margin-right: toRem(24);

      &:last-child {
        margin-right: 0;
      }
    }

    @include desktop {
      margin-right: toRem(25);
      width: toRem(356);
    }
  }

  &__image {
    width: 100%;
  }

  &__name-food {
    width: 100%;

    @include tablet {
      font-size: $fs-large;
    }
  }
}
