.drawer {
  @include flex-column;
  gap: toRem(20);
  width: toRem(212);
  background-color: #4a4e58;
  height: 100vh;

  &__wrapper {
    align-items: center;
    padding: toRem(20);
  }

  &__title {
    color: #fff;
    font-size: $fs-x-medium;
    font-family: $font-secondary;
    font-weight: 500;

    &:hover {
      color: #1ca1c1;
      font-weight: 600;
    }
  }

  &__user-icon {
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    width: toRem(30);
    height: toRem(30);
  }

  &__icon-new {
    background-image: url("../assets/images/user/plus-icon.svg");
  }

  &__item {
    @include flex-row;
    align-items: center;
    gap: toRem(10);
    padding: toRem(10);
    &:hover {
      border-left: toRem(3) solid #1ca1c1;
      color: #1ca1c1;
    }
  }

  &__icon-user {
    background-image: url("../assets/images/user/user-icon.svg");

    &:hover {
      background-image: url("../assets/images/user/user-icon-selected.svg");
    }
  }

  &__icon-roles {
    background-image: url("../assets/images/user/icon-role.svg");

    &:hover {
      background-image: url("../assets/images/user/shield-icon-selected.svg");
    }
  }
}
