.main-body {
  @include flex-row;
  font-family: $font-secondary;
  font-size: $fs-small;
  font-weight: 400;
  background-color: #ebedf0;
}

.content {
  display: none;

  @include tablet {
    display: block;
    width: 100%;
    padding: toRem(10);
    font-family: $font-secondary;
    background-color: #ebedf0;
  }
}

