.card {
	@include flex-column;
  gap: toRem(16);
	@include cursor;
  border: none;
  text-decoration: none;
  color: $color-primary;

	&__image {
		width: 100%;
	}

	&__rating {
		display: flex;
		gap: toRem(5);
	}

	&__rating-star {
		background-image: url(../assets/images/introduce-food-item/star.svg);
		width: 14px;
		height: 14px;
	}

	&__name {
		font-family: $font-secondary;
		line-height: $lh-x-medium;
	}
}
