.modal {
  display: block;
  font-family: $font-secondary;
  font-size: $fs-small;
  min-width: toRem(351);
  min-height: toRem(108);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  background-color: #ececec80;
  z-index: 1;

  &__header {
    justify-content: space-between;
    align-items: center;
    padding: toRem(10) toRem(20);
    transition: all 1s;
    display: flex;
    justify-content: space-between;
  }

  &__title {
    color: #475466;
    font-weight: 600;
  }

  &__icon {
    background-image: url("../assets/images/user/close-icon.svg");
  }

  &__body {
    gap: toRem(12);
    padding: toRem(20) 0;
    display: flex;
  }

  &__input {
    border: toRem(1) solid #ccd7e6;
    border-radius: toRem(3);
    width: toRem(220);
    margin-left: toRem(20);
    padding: toRem(8);
    outline: none;
    @include cursor;

    &:hover {
      border-color: #1ca1c1;
    }
  }
}
