.instruction {
  &__wrapper {
    @include flex-column;
    gap: toRem(30);
    margin-top: toRem(30);
  }
  &__item {
    width: toRem(331);
    @include flex-row;
    gap: toRem(10);

    @include tablet {
      width: toRem(276);
    }

    @include desktop {
      width: toRem(480);
    }
  }

  &__step {
    font-family: $font-secondary;
    font-size: $fs-small;
    font-weight: 400;
    line-height: 1.58;
    width: toRem(331);

    @include tablet {
      font-size: 17px;
      width: toRem(271);
    }

    @include desktop {
      width: toRem(460);
    }
  }

  &__collocate {
    width: toRem(24);
    height: toRem(24);
    background-color: #ff642f;
    color: #fff;
    text-align: center;
  }
}
