.instruction {
  &__wrapper {
    @include flex-column;
    gap: toRem(30);
    margin-top: toRem(30);
  }
  &__item {
    width: toRem(331);

    @include tablet {
      width: toRem(276);
    }

    @include desktop {
      width: toRem(480);
    }
  }

  &__step {
  font-family: $font-secondary;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.58;

  @include tablet {
    font-size: 17px;
  }
  }
}
