.table {
  width: 100%;
  height: 100vh;
  overflow: auto;
  background-color: #fff;
  border: toRem(1) solid #ccd7e6;
  display: none;

  &__wrapper {
    width: 100%;
  }

  &__header {
    width: 100%;

    &__cell {
      font-weight: 600;
      color: $color-primary;
      text-align: left;
      background-color: #f4f5f9;
      padding: toRem(20);
    }

    &__cell:nth-child(1) {
      width: 40%;
    }
  }

  &__title {
    font-size: $fs-small;
    font-weight: 500;

    @include tablet {
      font-size: $fs-x-medium;
    }
  }

  &__row {
    border-bottom: toRem(1) solid #edeff0;
    height: toRem(45);

    &__cell {
      vertical-align: middle;
      padding: toRem(20);
    }
  }

}

.show-user {
  display: block;
}



