.table-recipe {
  display: none;
  width: 100%;
  height: 100vh;
  overflow: auto;
  background-color: #fff;
  border: toRem(1) solid #ccd7e6;
  width: 65%;

  &__cell:nth-child(1) {
    width: 0;
  }

}

.show-recipe {
  display: block;
}
