.toolbar {
  @include flex-row;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border: toRem(1) solid #ccd7e6;
  border-bottom: none;
  padding: toRem(12) toRem(10);
  overflow: hidden;

  &__title {
    font-size: $fs-x-medium;
    font-weight: 600;
    color: #475466;
  }
  
  &__icon {
    background-image: url("../assets/images/user/search.svg");
    background-repeat: no-repeat;
    width: toRem(30);
    height: toRem(30);
    @include cursor;
  }
}
